body {
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  flex-shrink: 0;
  max-width: 500px;
  background: #1f2937;
}

h1 {
  display: flex;
  width: 400px;
  flex-direction: column;
  flex-shrink: 0;
  color: #fff;
  font-size: 45px;
  font-family: Karla;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: -1px;
}

.light-green-head {
  color: #4adf86;
  width: 400px;
}

p {
  color: #d5d4d8;
  font-size: 20px;
  font-family: Inter, sans-serif;
  line-height: 28px;
}

#generate-btn {
  display: inline-flex;
  padding: 9px 17px 9px 15px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 6px;
  color: #ffffff;
  background: #10b981;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  border: none;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 24px;
}

hr {
  height: 1px;
  background: #2f3e53;
  border: none;
}

.flex-container {
  display: flex;
}

.pass-options {
  display: flex;
  justify-content: space-between;
}

.pass-options {
  display: flex;
  justify-content: space-between;
  width: 211px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 6px;
}

#pass-one {
  display: flex;
  width: 192px;
  height: 50px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #55f991;
  text-align: center;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  line-height: 32px;
  margin: 1rem;
  margin-left: 0;
  background: #273549;
  border-radius: 6px;
}

#pass-two {
  display: flex;
  width: 192px;
  height: 50px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #55f991;
  text-align: center;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  line-height: 32px;
  margin: 1rem;
  margin-right: 0;
  background: #273549;
  border-radius: 6px;
}
